
.idea/hydra.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/spark-build.iml
.idea/modules/spark.iml
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/workspace.xml
project/build.properties
project/target/config-classes/$0e3559015ead0acd9c56$.class
project/target/config-classes/$0e3559015ead0acd9c56.cache
project/target/config-classes/$0e3559015ead0acd9c56.class
project/target/config-classes/$81679950a7576ca34af3$.class
project/target/config-classes/$81679950a7576ca34af3.cache
project/target/config-classes/$81679950a7576ca34af3.class
project/target/config-classes/$935e3d75a8ac0125902e$.class
project/target/config-classes/$935e3d75a8ac0125902e.cache
project/target/config-classes/$935e3d75a8ac0125902e.class
project/target/config-classes/$a0a1dd850898eb534d35$.class
project/target/config-classes/$a0a1dd850898eb534d35.cache
project/target/config-classes/$a0a1dd850898eb534d35.class
project/target/config-classes/$ab064b3883c9cf813196$.class
project/target/config-classes/$ab064b3883c9cf813196.cache
project/target/config-classes/$ab064b3883c9cf813196.class
project/target/scala-2.12/sbt-1.0/resolution-cache/default/spark-build/scala_2.12/sbt_1.0/0.1.0-SNAPSHOT/resolved.xml.properties
project/target/scala-2.12/sbt-1.0/resolution-cache/default/spark-build/scala_2.12/sbt_1.0/0.1.0-SNAPSHOT/resolved.xml.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-spark-build-compile-internal.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-spark-build-compile.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-spark-build-optional.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-spark-build-plugin.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-spark-build-pom.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-spark-build-provided.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-spark-build-runtime-internal.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-spark-build-runtime.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-spark-build-scala-tool.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-spark-build-test-internal.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-spark-build-test.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/ivy-report.css
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/ivy-report.xsl
project/target/streams/$global/$global/$global/streams/out
project/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/input_dsp
project/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/output_dsp
project/target/streams/$global/ivyConfiguration/$global/streams/out
project/target/streams/$global/ivySbt/$global/streams/out
project/target/streams/$global/projectDescriptors/$global/streams/out
project/target/streams/$global/update/$global/streams/out
project/target/streams/$global/update/$global/streams/update_cache_2.12/inputs
project/target/streams/$global/update/$global/streams/update_cache_2.12/output
project/target/streams/compile/$global/$global/discoveredMainClasses/data
project/target/streams/compile/compile/$global/streams/out
project/target/streams/compile/compileIncremental/$global/streams/export
project/target/streams/compile/compileIncremental/$global/streams/out
project/target/streams/compile/copyResources/$global/streams/copy-resources
project/target/streams/compile/copyResources/$global/streams/out
project/target/streams/compile/dependencyClasspath/$global/streams/export
project/target/streams/compile/exportedProducts/$global/streams/export
project/target/streams/compile/externalDependencyClasspath/$global/streams/export
project/target/streams/compile/internalDependencyClasspath/$global/streams/export
project/target/streams/compile/managedClasspath/$global/streams/export
project/target/streams/compile/unmanagedClasspath/$global/streams/export
project/target/streams/compile/unmanagedJars/$global/streams/export
project/target/streams/runtime/dependencyClasspath/$global/streams/export
project/target/streams/runtime/exportedProducts/$global/streams/export
project/target/streams/runtime/externalDependencyClasspath/$global/streams/export
project/target/streams/runtime/fullClasspath/$global/streams/export
project/target/streams/runtime/internalDependencyClasspath/$global/streams/export
project/target/streams/runtime/managedClasspath/$global/streams/export
project/target/streams/runtime/unmanagedClasspath/$global/streams/export
project/target/streams/runtime/unmanagedJars/$global/streams/export
src/main/scala/rdd/Rdd.scala
target/.history
target/scala-2.11/classes/HelloWorld/HelloWorld$.class
target/scala-2.11/classes/HelloWorld/HelloWorld.class
target/scala-2.11/classes/rdd/Rdd$.class
target/scala-2.11/classes/rdd/Rdd.class
target/scala-2.11/resolution-cache/default/spark_2.11/0.1/resolved.xml.properties
target/scala-2.11/resolution-cache/default/spark_2.11/0.1/resolved.xml.xml
target/scala-2.11/resolution-cache/helloworld/helloworld$sources/1.0/resolved.xml.properties
target/scala-2.11/resolution-cache/helloworld/helloworld$sources/1.0/resolved.xml.xml
target/scala-2.11/resolution-cache/helloworld/helloworld_2.11/1.0/resolved.xml.properties
target/scala-2.11/resolution-cache/helloworld/helloworld_2.11/1.0/resolved.xml.xml
target/scala-2.11/resolution-cache/reports/default-spark_2.11-compile-internal.xml
target/scala-2.11/resolution-cache/reports/default-spark_2.11-compile.xml
target/scala-2.11/resolution-cache/reports/default-spark_2.11-optional.xml
target/scala-2.11/resolution-cache/reports/default-spark_2.11-plugin.xml
target/scala-2.11/resolution-cache/reports/default-spark_2.11-pom.xml
target/scala-2.11/resolution-cache/reports/default-spark_2.11-provided.xml
target/scala-2.11/resolution-cache/reports/default-spark_2.11-runtime-internal.xml
target/scala-2.11/resolution-cache/reports/default-spark_2.11-runtime.xml
target/scala-2.11/resolution-cache/reports/default-spark_2.11-scala-tool.xml
target/scala-2.11/resolution-cache/reports/default-spark_2.11-test-internal.xml
target/scala-2.11/resolution-cache/reports/default-spark_2.11-test.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld$sources-compile-internal.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld$sources-compile.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld$sources-optional.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld$sources-plugin.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld$sources-pom.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld$sources-provided.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld$sources-runtime-internal.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld$sources-runtime.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld$sources-scala-tool.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld$sources-test-internal.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld$sources-test.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld_2.11-compile-internal.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld_2.11-compile.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld_2.11-optional.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld_2.11-plugin.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld_2.11-pom.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld_2.11-provided.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld_2.11-runtime-internal.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld_2.11-runtime.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld_2.11-scala-tool.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld_2.11-test-internal.xml
target/scala-2.11/resolution-cache/reports/helloworld-helloworld_2.11-test.xml
target/scala-2.11/resolution-cache/reports/ivy-report.css
target/scala-2.11/resolution-cache/reports/ivy-report.xsl
target/scala-2.12/resolution-cache/default/spark$sources/0.1/resolved.xml.properties
target/scala-2.12/resolution-cache/default/spark$sources/0.1/resolved.xml.xml
target/scala-2.12/resolution-cache/default/spark_2.12/0.1/resolved.xml.properties
target/scala-2.12/resolution-cache/default/spark_2.12/0.1/resolved.xml.xml
target/scala-2.12/resolution-cache/reports/default-spark$sources-compile-internal.xml
target/scala-2.12/resolution-cache/reports/default-spark$sources-compile.xml
target/scala-2.12/resolution-cache/reports/default-spark$sources-optional.xml
target/scala-2.12/resolution-cache/reports/default-spark$sources-plugin.xml
target/scala-2.12/resolution-cache/reports/default-spark$sources-pom.xml
target/scala-2.12/resolution-cache/reports/default-spark$sources-provided.xml
target/scala-2.12/resolution-cache/reports/default-spark$sources-runtime-internal.xml
target/scala-2.12/resolution-cache/reports/default-spark$sources-runtime.xml
target/scala-2.12/resolution-cache/reports/default-spark$sources-scala-tool.xml
target/scala-2.12/resolution-cache/reports/default-spark$sources-test-internal.xml
target/scala-2.12/resolution-cache/reports/default-spark$sources-test.xml
target/scala-2.12/resolution-cache/reports/default-spark_2.12-compile-internal.xml
target/scala-2.12/resolution-cache/reports/default-spark_2.12-compile.xml
target/scala-2.12/resolution-cache/reports/default-spark_2.12-optional.xml
target/scala-2.12/resolution-cache/reports/default-spark_2.12-plugin.xml
target/scala-2.12/resolution-cache/reports/default-spark_2.12-pom.xml
target/scala-2.12/resolution-cache/reports/default-spark_2.12-provided.xml
target/scala-2.12/resolution-cache/reports/default-spark_2.12-runtime-internal.xml
target/scala-2.12/resolution-cache/reports/default-spark_2.12-runtime.xml
target/scala-2.12/resolution-cache/reports/default-spark_2.12-scala-tool.xml
target/scala-2.12/resolution-cache/reports/default-spark_2.12-test-internal.xml
target/scala-2.12/resolution-cache/reports/default-spark_2.12-test.xml
target/scala-2.12/resolution-cache/reports/ivy-report.css
target/scala-2.12/resolution-cache/reports/ivy-report.xsl
target/streams/$global/$global/dumpStructure/$global/streams/out
target/streams/$global/dependencyPositions/$global/streams/update_cache_2.11/input_dsp
target/streams/$global/dependencyPositions/$global/streams/update_cache_2.11/output_dsp
target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/input_dsp
target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/output_dsp
target/streams/$global/ivyConfiguration/$global/streams/out
target/streams/$global/ivySbt/$global/streams/out
target/streams/$global/projectDescriptors/$global/streams/out
target/streams/$global/ssExtractDependencies/$global/streams/out
target/streams/$global/update/$global/streams/out
target/streams/$global/update/$global/streams/update_cache_2.11/inputs
target/streams/$global/update/$global/streams/update_cache_2.11/output
target/streams/$global/update/$global/streams/update_cache_2.12/inputs
target/streams/$global/update/$global/streams/update_cache_2.12/output
target/streams/$global/updateClassifiers/$global/streams/out
target/streams/compile/externalDependencyClasspath/$global/streams/export
target/streams/compile/managedClasspath/$global/streams/export
target/streams/compile/unmanagedClasspath/$global/streams/export
target/streams/compile/unmanagedJars/$global/streams/export
target/streams/runtime/externalDependencyClasspath/$global/streams/export
target/streams/runtime/managedClasspath/$global/streams/export
target/streams/runtime/unmanagedClasspath/$global/streams/export
target/streams/runtime/unmanagedJars/$global/streams/export
target/streams/test/externalDependencyClasspath/$global/streams/export
target/streams/test/managedClasspath/$global/streams/export
target/streams/test/unmanagedClasspath/$global/streams/export
target/streams/test/unmanagedJars/$global/streams/export
target/scala-2.11/classes/rdd/SearchFunctions.class
*.class
project/target/config-classes/$57caca08ef4928836ac6.cache
*.cache
.idea/vcs.xml
.idea/vcs.xml
*.class
target/scala-2.11/classes/rdd/Rdd$$anonfun$1.class
*.class
.idea/libraries/sbt__com_github_stephenc_findbugs_findbugs_annotations_1_3_9_1_jar.xml
.idea/libraries/sbt__commons_logging_commons_logging_1_1_1_jar.xml
.idea/libraries/sbt__joda_time_joda_time_2_7_jar.xml
.idea/libraries/sbt__net_sf_jopt_simple_jopt_simple_4_7_jar.xml
.idea/libraries/sbt__org_apache_avro_avro_1_7_7_jar.xml
.idea/libraries/sbt__org_apache_avro_avro_1_8_2_jar.xml
.idea/libraries/sbt__org_apache_avro_avro_compiler_1_8_2_jar.xml
.idea/libraries/sbt__org_apache_avro_avro_ipc_1_7_7_jar.xml
.idea/libraries/sbt__org_apache_avro_avro_ipc_1_7_7_tests_jar.xml
.idea/libraries/sbt__org_apache_avro_avro_ipc_1_8_2_jar.xml
.idea/libraries/sbt__org_apache_avro_avro_mapred_1_7_7_hadoop2_jar.xml
.idea/libraries/sbt__org_apache_avro_avro_mapred_1_8_2_jar.xml
.idea/libraries/sbt__org_apache_avro_avro_tools_1_8_2_jar.xml
.idea/libraries/sbt__org_apache_avro_trevni_avro_1_8_2_jar.xml
.idea/libraries/sbt__org_apache_avro_trevni_avro_1_8_2_tests_jar.xml
.idea/libraries/sbt__org_apache_avro_trevni_core_1_8_2_jar.xml
.idea/libraries/sbt__org_apache_avro_trevni_core_1_8_2_tests_jar.xml
.idea/libraries/sbt__org_apache_commons_commons_compress_1_4_1_jar.xml
.idea/libraries/sbt__org_apache_commons_commons_compress_1_8_1_jar.xml
.idea/libraries/sbt__org_apache_velocity_velocity_1_7_jar.xml
.idea/libraries/sbt__org_mortbay_jetty_jetty_6_1_26_jar.xml
.idea/libraries/sbt__org_mortbay_jetty_servlet_api_2_5_20081211_jar.xml
.idea/libraries/sbt__org_tukaani_xz_1_0_jar.xml
.idea/libraries/sbt__org_tukaani_xz_1_5_jar.xml
.idea/libraries/sbt__org_apache_avro_avro_1_7_7_jar.xml
.idea/libraries/sbt__org_apache_avro_avro_ipc_1_7_7_jar.xml
.idea/libraries/sbt__org_apache_avro_avro_ipc_1_7_7_tests_jar.xml
.idea/libraries/sbt__org_apache_avro_avro_mapred_1_7_7_hadoop2_jar.xml
.idea/libraries/sbt__org_apache_commons_commons_compress_1_4_1_jar.xml
.idea/libraries/sbt__org_tukaani_xz_1_0_jar.xml
